
body {
    background-image: url("https://i.pinimg.com/originals/e7/16/55/e7165502b2a1cf61fa81b20e02bad088.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;

    /* Optional: Set a background color as a fallback */
    background-color: #f2f2f2;
}
      
.nav  {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    padding: 1em;
    

}

a {
    color: purple;
}