header {
    background-color: black;
    height: 2em;
    padding: 3em;
}

.nav  {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    font-family: chango;

}

a {
    color: white;
    text-decoration:none
}


#try {
    background-image: url("https://cdn.dribbble.com/users/1040798/screenshots/15685874/media/aa9588469e19517c2b94b1addd15d11d.gif");
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    padding: 2em;
    border: black;
    
}

.descriptor {
  text-align: center;
  font-size: 30px;
  font-family: chango;
}

 
.headergreeting {
    text-align: center;
    font-size: 75px;
    font-family: chango; 
    color: #b29aca; 
    padding: 2em;
}



.gallery {
    --s: 300px; /* control the size */
    --g: 8px;   /* control the gap */
    
    display: grid;
    grid: auto-flow var(--s)/repeat(2,var(--s));
    gap: var(--g);
  }
  .gallery > img {
    width: 100%; 
    aspect-ratio: 1;
    cursor: pointer;
    filter: grayscale();
    z-index: 0;
    transition: .25s,z-index 0s .25s;
  }
  .gallery > img:hover {
    width: calc(200% + var(--g));
    filter: grayscale(0);
    z-index: 1;
    --_c: 50%;
    transition: .4s,z-index 0s;
  }
  .gallery > img:nth-child(1){
    clip-path: circle(var(--_c,55% at 70% 70%));
    place-self: start;
  }
  .gallery > img:nth-child(2){
    clip-path: circle(var(--_c,55% at 30% 70%));
    place-self: start end;
  }
  .gallery > img:nth-child(3){
    clip-path: circle(var(--_c,55% at 70% 30%));
    place-self: end start;
  }
  .gallery > img:nth-child(4){
    clip-path: circle(var(--_c,55% at 30% 30%));
    place-self: end;
  }
  




















  